*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6 !important;
}

body{
    height: 100vh;  
    font-family: 'Open Sans', sans-serif;
} 




ul{ 
    list-style: none;
    padding: 0; 
    margin: 0;
}


ul li{
    background-color:#b8aea2;
    position: relative;
    margin-top: 0.625rem;
    padding-left: 1.25rem;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    transition: 0.2s;

  }

  ul li.checked{
    background-color: #888;
    color: #fff;
    text-decoration: line-through 2px;
    transition: 0.3s ease-in-out;
}

ul li.checked::before{
    content: "";
    position: absolute;
    border: #00ff15 solid;
    border-width:0 0.24rem 0.24rem 0 ;    
    height: 1rem;
    transform: rotate(45deg);
    width: 0.4em;
    top: 1.3em;
    margin-top: -1em;
    left: 0.4em;

}


ul li:nth-child(even){
    background-color: #645138;
    color: #fff;
    cursor: pointer;
}

input[type = text]{
    outline: none;
}

input::placeholder{
    color: rgb(37, 202, 37);
    font-size: 16px;
    
}

.span{
    width: 3.5rem;
    cursor: pointer;
    padding: 1rem;
}

.span:hover{
    opacity: 0.7;
}

#todo{
    display: flex;
    margin:auto;
}

li .cancel{
    position: absolute;
    right: 11.7%;
    color: #fff;
    text-align: center; 
    padding: 0px 8px; 
    transition: 0.3s ease-in-out;

}

.cancel:hover{
    background-color: #b81f1f;
    cursor: pointer; 


}


/* media queries for screen with a minimum size of 320px */

@media screen and (min-width: 320px) {

    li .cancel{
        right: 0.5%;  
    
    }

}
@media screen and (min-width: 428px) {

    li .cancel{
        right: 0.1%;   
    
    }

    main{
        margin-top: 0 !important;  
    }

}


