*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6 !important;
}

body{
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
} 

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li:nth-child(even){
    background-color: antiquewhite;
}

input::placeholder{
    color: rgb(37, 202, 37);
    position: absolute;
    text-align: left;
    left: 0.1rem;
    padding: 1rem;
}

.span{
    width: 3.5rem;
    cursor: pointer;
    padding: 1rem;
}

#todo{
    display: flex;
    margin:auto;
}

